@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header-box {
    width: 100%;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;

}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-top: 0;
    
}

.content img {
    width: 400px;
    height: auto;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: nowrap;
    border-radius: 5px;
}

.content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    flex-wrap: wrap;
    width: 500px;
    margin-bottom: 0;
}

.content p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 8px;
}

.content button {
    border: 0;
    background-color: #3882f6;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 25px;
    border-radius: 8px;
  font-weight: 600;
}

.info {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: middle;
    margin-right: auto;
    margin-left: auto;
    gap: 30px;
    
}

.info img {
    width: 300px;
    height: auto;
    flex-wrap: nowrap;
    border-radius: 8px;
}

.info-header {
    font-family: 'Roboto', sans-serif;
    color: #1f2937;
    font-size: 36px;
    text-align: center;
}
.info p {
    font-family: 'Roboto', sans-serif;
    color: #1f2937;
    font-size: 18px;
    text-align: center;
    max-width: 300px;
    flex-wrap: wrap;
    margin-top: 0;
}

.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #e5e7eb;  
}

.quote {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.quote h4 {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

.cta {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    gap: 100px;
    background-color: #3882f6;
    border-radius: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cta h4{
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.cta p {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    font-size: 16px;
    font-weight: 300;
}

.cta button {
    border: 2px solid white;
    color: white;
    font-size: 16px;
    background-color:transparent;
    border-radius: 8px;
    text-align: center;
    padding: 5px 25px;
    vertical-align: middle;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 0;
    margin-right: 0;
}